/* Set default colors */
:root {
    --primary-color: #121212;
    --secondary-color: #1f1f1f;
    --third-color: #000000;
    --accent-color: #e10600;
    --text-color: #e0e0e0;
}

body {
    padding-top: 4rem;
    background-color: var(--primary-color) !important;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

/* NAVIGATION BAR */
.navbar {
    background-image: linear-gradient(to bottom right, var(--third-color), var(--primary-color));
    border-bottom: 0.125rem solid var(--accent-color);
    color: var(--text-color);
}

.navbar-dark, .navbar-brand, .nav-link {
    color: var(--text-color) !important;
}

.navbar-toggler {
    background-color: var(--secondary-color) !important;
}


/* Toggle Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    margin: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 1s;
    border-radius: 3rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    left: 0.125rem;
    top: 0.125rem;
    bottom: 0.125rem;
    background-color: black;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--accent-color);
}

input:checked + .slider:before {
    transform: translateX(1.5rem);
}


@media only screen and (max-width: 992px) {
    .switch {
        margin: 0 !important;
    }
}


@media only screen and (max-width: 992px) {
    .social-icons-home {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }
}


#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none; /* Hidden initially */
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#loading img {
    width: 100px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#raceForm {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background: #1F1F1F;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#raceData {
    padding: 2rem;
}

.form-label {
    color: var(--text-color);
}

.form-select {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    scrollbar-color: var(--accent-color) var(--third-color) !important;
}

.btn-primary {
    background-color: var(--accent-color) !important;
    border: none !important;
}

.btn:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0) !important;
}

.text-center {
    color: var(--text-color);
}

.form-control {
    color: var(--text-color) !important;
    background-color: var(--third-color) !important;
}

.contact-box {
    background: var(--secondary-color);
}

.contact-box .btn-primary {
    margin-bottom: 1rem !important;
}

/* <----- CALENDAR CSS -----> */
.calendar-page .btn-custom {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
}
.calendar-page .btn-custom:hover {
    background-color: var(--accent-color);
    color: var(--third-color);
}
.calendar-page .card-custom {
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(255, 255, 255, 0.1);
    padding: 1rem;
}
.calendar-page .collapsible-title {
    font-size: 1.5rem !important;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    border-radius: 2rem;
    background-color: var(--secondary-color);
    padding: 1rem;
}
.calendar-page .collapsible-title:hover {
    color: var(--accent-color);
}
.calendar-page .list-group {
    border-radius: 1rem;
}
.calendar-page .list-group-item {
    border-radius: 1rem;
    margin-bottom: 0.25rem;
    background-color: var(--third-color) !important;
    color: var(--text-color) !important;
}
.calendar-page .list-group-item:hover {
    color: var(--accent-color);
}
.calendar-page h2 {
    color: var(--text-color) !important; 
    font-size: 1.5rem !important;
}

.calendar-page .card {
    background-color: var(--third-color) !important;
    color: var(--text-color) !important;
}